---
// /src/layouts/Layout.astro
import 'bootstrap/dist/css/bootstrap.css'
import Navbar from '../components/Navbar.astro';
import UpdateInfo from '../components/UpdateInfo.astro'

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script
  is:inline="true"
  src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"
></script>
</head>
<body>
  <Navbar />
  <UpdateInfo />
  <main>
    <slot />
  </main>
  <slot name="body-script" />
</body>
</html>