---
import { PrismaClient } from "@prisma/client";
import MainLayout from "../layouts/MainLayout.astro";
import SearchFilter from "../components/SearchFilter.astro";
import DropFilter from "../components/DropFilter.astro";
const prisma = new PrismaClient();
const statuses = await prisma.statuses.findMany({
  include: {
    statusObj: true,
    updateObj: true,
  },
  where: {
    countryObj: {
      code: "RU",
    },
  },
  orderBy: [
    {
      updateObj: {
        timestamp: "asc",
      },
    },
    {
      status: "asc",
    },
  ],
});
prisma.$disconnect();
interface StatusRecord {
  total: number;
  count: number;
}
interface DateRecord {
  total: number;
  count: number;
  statuses: {
    [key: string]: StatusRecord;
  };
}
interface FinalObjectType {
  [key: string]: DateRecord;
}
const statusSet = new Set<string>();
const finalObject: FinalObjectType = statuses.reduce((acc, curr) => {
  const currentDate = curr.updateObj.timestamp.valueOf();
  const currentStatus = curr.statusObj.status;
  statusSet.add(currentStatus);
  if (!acc.hasOwnProperty(currentDate)) {
    acc[currentDate] = { total: 0, count: 0, statuses: {} };
  }
  if (
    !acc[currentDate].statuses.hasOwnProperty(
    currentStatus
    )
  ) {
    acc[currentDate].statuses[currentStatus] = {
      total: 0,
      count: 0,
    };
  }

  acc[currentDate].total += curr.count;
  acc[currentDate].count++;
  acc[currentDate].statuses[currentStatus].total +=
    curr.count;
  acc[currentDate].statuses[currentStatus].count++;
  return acc;
}, {} as FinalObjectType);
---

<MainLayout>
  <strong
    >Количество людей с определённым легальным статусом на определённю дату. Данное количество
    считается на определённый момент и не сбрасывается 1 января.
  </strong>
  <div class="d-flex flex-nowrap flex-column p-2" id="statusesTable">
    <div
      class="d-flex flex-nowrap align-items-stretch flex-row"
      style="position: -webkit-sticky; position: sticky; top: -10px; background: white; z-index: 10"
    >
      <div class="border p-2" style="width: 6.4em">Дата</div>
      <div class="border p-2" style="width: 18.7em">Статус</div>
      <div class="border p-2" style="width: 6.6em">Количество</div>
      <div class="border p-2" style="width: 4.6em">Сумма по дате</div>
    </div>
    <div
      class="d-flex flex-nowrap align-items-stretch flex-row"
      style="position: -webkit-sticky; position: sticky; top: 56px; background: white; z-index: 10"
    >
      <div class="border p-1" style="width: 6.4em">
        <SearchFilter
          searchClass="statusDateFilter"
          valueClass="dateValue"
          gridId="gridData"
        />
      </div>
      <div class="border p-1" style="width: 18.7em">
        <DropFilter
          searchClass="statusStatusFilter"
          valueClass="statusValue"
          filterValues={Array.from(statusSet)}
          gridId="gridData"
        />
      </div>
      <div class="border p-2" style="width: 6.6em"></div>
      <div class="border p-2" style="width: 4.6em"></div>
    </div>
    <div id="gridData">
      {
        Object.keys(finalObject)
          .sort()
          .map((date, dateIdx) => (
            <div
              class="d-flex flex-nowrap align-items-stretch flex-row statusDateFilter filter-container"
            >
              <div class="border p-2 dateValue" style="width: 6.4em">
                <span style="position: -webkit-sticky; position: sticky; top: 105px;">
                  {`${new Date(parseInt(date)).getUTCFullYear()}-${(
                    new Date(parseInt(date)).getUTCMonth() + 1
                  )
                    .toString()
                    .padStart(2, "0")}-${new Date(parseInt(date))
                    .getUTCDate()
                    .toString()
                    .padStart(2, "0")}`}
                </span>
              </div>
                      <div class="d-flex flex-nowrap flex-column">
                        {Object.keys(
                          finalObject[date].statuses
                        ).map((st, ctIdx) => (
                          <div
                            class="d-flex flex-nowrap align-items-stretch flex-row statusStatusFilter filter-container"
                          >
                            <div
                              class="border p-2 statusValue"
                              style="width: 18.7em"
                            >
                              <span style="position: -webkit-sticky; position: sticky; top: 105px;">
                                {st}
                              </span>
                            </div>
                            <div class="border p-2" style="width: 6.6em">
                              {
                                finalObject[date].statuses[
                                  st
                                ].total
                              }
                            </div>
                          </div>
                        ))}
                      </div>
              <div class="border p-2" style="width: 4.6em">
                <span style="position: -webkit-sticky; position: sticky; top: 105px;">
                  {finalObject[date].total}
                </span>
              </div>
            </div>
          ))
      }
    </div>
  </div>
  <script
    is:inline="true"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"
  ></script>
  <script slot="body-script"></script>
</MainLayout>
