---
type Props = {
  searchClass: string;
  filterValues: string[];
};

const { searchClass, filterValues } = Astro.props;
---

<select
  class="form-select data-filter"
  name={`${searchClass}`}
  id={`${searchClass}`}
  data-filtertype="drop"
  data-filtervalue=""
>
  <option selected></option>
  {
    filterValues.map((f)=>(
      <option value={f}>{f}</option>
    ))
  }
</select>
